header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100px;
    background-color: brown;
}

h1 {
    font-family: 'Harry Potter';
    src: url('http://www.fontsaddict.com/fontface/harry-potter.TTF');
    color: gold;
}


main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 800px;
    max-width: 80%;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

button {
    width: 100px;
    align-self: center;
    margin-top: 15px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

/* background for correct*/
.correct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: green;
    border-radius: 10px;
    height: 100%;
}

.correct button {
    width: 100px;
    border-radius: 5px;
}

/* background for incorrect */
.incorrect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    border-radius: 10px;
    height: 100%;
}

.incorrect button {
    width: 100px;
    border-radius: 5px;
}
